<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="account.dao.buyer">

<insert id="insertBuyer" parameterType="buyer" >
	insert into buyer values(#{buyerId},#{password},#{name},#{address.addressDetails},#{email},#{phone},#{address.postcode})
</insert>
<update id="updateBuyerById" parameterType="buyer">
	update buyer
	<set>
		<if test="password != null">
		 password=#{password},
		</if>
		<if test="address !=null and address.addressDetails !=null">
		 address=#{address.addressDetails},
		</if>		
		<if test="email !=null">
		 email=#{email},
		</if>
		<if test="phone !=null">
		 phone=#{phone},
		</if>
		<if test="address !=null and address.postcode !=null">
		 postcode=#{address.postcode}
		</if>			
	</set>
	where buyer_id=#{buyerId}
</update>

<delete id="deleteBuyerById" parameterType="string">
	delete from buyer
	where buyer_id = #{value}
</delete>

<sql id="select-buyer-basic">
	select buyer_id,password,name,address,email,phone,postcode
	from buyer
</sql>

<resultMap type="address" id="address-default">
		<result column="postcode" property="postcode"/>
		<result column="address" property="addressDetails"/>
</resultMap>

<resultMap type="address" id="address-default-update">
		<result column="postcode" property="postcode"/>
		<result column="address" property="addressDetails"/>
</resultMap>

<resultMap type="buyer" id="resultMap-buyer-basic">
	<id column="buyer_id" property="buyerId"/>	
	<result column="password" property="password"/>
	<result column="name" property="name"/>
	<result column="email" property="email"/>
	<result column="phone" property="phone"/>
	<association  property="address" javaType="kr.co.taommall.account.vo.Address" resultMap="address-default"/>
</resultMap>

<resultMap type="buyer" id="resultMap-buyer-update">
	<id column="buyer_id" property="buyerId"/>	
	<result column="password" property="password"/>
	<result column="name" property="name"/>
	<result column="email" property="email"/>
	<result column="phone" property="phone"/>
	<association  property="address" javaType="kr.co.taommall.account.vo.Address" resultMap="address-default-update"/>
</resultMap>

<select id="selectBuyerAllMember" resultMap="resultMap-buyer-basic">
	<include refid="select-buyer-basic"/>
</select>

<select id="selectBuyerByemail" parameterType="buyer" resultMap="resultMap-buyer-basic">
	<include refid="select-buyer-basic"/>
	where name = #{name} and email = #{email}
</select>
	
<select id="selectBuyerById" parameterType="string" resultMap="resultMap-buyer-basic">
	<include refid="select-buyer-basic"/>
	where buyer_id = #{value}
</select>
</mapper>
