<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.taommall.order.dao">


<insert id="insertOrder" parameterType="order" >
<selectKey keyProperty="orderId" order="BEFORE" resultType="_int">select order_no.nextval from dual</selectKey>

insert into orders values(#{orderId},#{productId},#{amount},#{status},#{buyerId},#{recipientId}, to_char(sysdate, 'yyyy-mm-dd'),#{sellerId})

</insert>
<update id="updateOrderById" parameterType="order">
	update orders
	<set>
		<if test="amount != 0" >
		amount=#{amount} ,
		</if>
		<if test="status != null">
		status=#{status}
		</if>
	</set>
	where recipient_id=#{recipientId}
</update>

<delete id="deleteOrderById" parameterType="_int">
	delete from orders
	where order_id = #{value}
</delete>

<sql id="select-order-default" >
	select 	o.order_id, o.product_id, o.buyer_id, o.amount, o.status, o.recipient_id, o.seller_id, o.regi_date,
			p.product_id, p.product_name, p.product_price, p.category, p.product_info,p.image_path, p.regi_date,p.exp_date, p.seller_id,
			b.buyer_id, b.password, b.name, b.address, b.email, b.phone,b.postcode,
			s.seller_id, s.password, s.name, s.gender, s.address, s.email, s.phone, s.auth, s.admin, s.corporate_number,
			r.recipient_id, r.name, r.address, r.phone, r.detail,r.postcode
	from orders o,product p, buyer b, recipient r,seller s
</sql>

<sql id="select-order-update" >
	select 	o.order_id, o.product_id, o.buyer_id, o.amount, o.status, o.recipient_id, o.seller_id, o.regi_date,
			p.product_id, p.product_name, p.product_price, p.category, p.product_info,p.image_path, p.regi_date,p.exp_date, p.seller_id,
			b.buyer_id, b.password, b.name, b.email, b.phone, 
			s.seller_id, s.password, s.name, s.gender, s.address, s.email, s.phone, s.auth, s.admin, s.corporate_number,
			r.recipient_id, r.name, r.address, r.phone, r.detail,r.postcode
	from orders o,product p, buyer b, recipient r,seller s
</sql>


<!-- DefaultOrderResultMap -->
<resultMap type="order" id="resultMap-order-default">
	<id column="order_id" property="orderId"/>
	<result column="product_id" property="productId"/>
	<result column="buyer_id" property="buyerId"/>
	<result column="seller_id" property="sellerId"/>
	<result column="recipient_id" property="recipientId"/>
	<result column="amount" property="amount"/>
	<result column="status" property="status"/>
	<result column="regi_date" property="regiDate"/>
	<association property="product" javaType="kr.co.taommall.product.vo.Product" resultMap="kr.co.taommall.product.dao.product-resultMap"/>
	<association property="buyer" javaType="kr.co.taommall.account.vo.Buyer" resultMap="account.dao.buyer.resultMap-buyer-basic"/>
	<association property="seller" javaType="kr.co.taommall.account.vo.Seller" resultMap="account.dao.seller.resultMap-seller-basic"></association>
	<association property="recipient" javaType="kr.co.taommall.recipient.vo.Recipient" resultMap="kr.co.taommall.recipient.dao.resultMap-recipient-default"/>
</resultMap>

<resultMap type="order" id="resultMap-order-update">
	<id column="order_id" property="orderId"/>
	<result column="product_id" property="productId"/>
	<result column="buyer_id" property="buyerId"/>
	<result column="seller_id" property="sellerId"/>
	<result column="recipient_id" property="recipientId"/>
	<result column="amount" property="amount"/>
	<result column="status" property="status"/>
	<result column="regi_date" property="regiDate"/>
	<association property="product" javaType="kr.co.taommall.product.vo.Product" resultMap="kr.co.taommall.product.dao.product-resultMap"/>
	<association property="buyer" javaType="kr.co.taommall.account.vo.Buyer" resultMap="account.dao.buyer.resultMap-buyer-update"/>
	<association property="seller" javaType="kr.co.taommall.account.vo.Seller" resultMap="account.dao.seller.resultMap-seller-basic"></association>
	<association property="recipient" javaType="kr.co.taommall.recipient.vo.Recipient" resultMap="kr.co.taommall.recipient.dao.resultMap-recipient-default"/>
</resultMap>

<select id="selectAllOrder"  resultMap="resultMap-order-default">
<include refid="select-order-default"/>
where o.seller_id = s.seller_id and o.product_id = p.product_id and o.buyer_id = b.buyer_id and o.recipient_id = r.recipient_id
</select>


<select id="selectOrderByProductId" parameterType="_int" resultMap="resultMap-order-default">
<include refid="select-order-default"/>
where o.seller_id = s.seller_id and o.product_id = p.product_id and o.buyer_id = b.buyer_id and o.recipient_id = r.recipient_id and p.product_id = #{value}
</select>

<select id="selectOrderByOrderId" parameterType="_int" resultMap="resultMap-order-default">
<include refid="select-order-default"/>
where o.seller_id = s.seller_id and o.product_id = p.product_id and o.buyer_id = b.buyer_id and o.recipient_id = r.recipient_id and o.order_id = #{value}
</select>

<select id="selectOrderByBuyerId" parameterType="string" resultMap="resultMap-order-default">
<include refid="select-order-default"/>
where o.seller_id = s.seller_id and o.product_id = p.product_id and o.buyer_id = b.buyer_id and o.recipient_id = r.recipient_id and o.buyer_id = #{value}
order by o.recipient_id desc
</select>

<select id="selectOrderByStatus" parameterType="map" resultMap="resultMap-order-default">
<include refid="select-order-default"/>
<where>
o.seller_id = s.seller_id and o.product_id = p.product_id and o.buyer_id = b.buyer_id and o.recipient_id = r.recipient_id 
<if test="status != null">
and o.status = #{status}
</if>
order by o.recipient_id desc
</where>
</select>

<select id="selectOrderBySellerId" parameterType="string" resultMap="resultMap-order-default">
<include refid="select-order-default"/>
where o.seller_id = s.seller_id and o.product_id = p.product_id and o.buyer_id = b.buyer_id and o.recipient_id = r.recipient_id and o.seller_id = #{value}
order by o.recipient_id desc
</select>

<select id="selectOrderByRecipientId" parameterType="_int" resultMap="resultMap-order-update">
<include refid="select-order-default"/>
where o.seller_id = s.seller_id and o.product_id = p.product_id and o.buyer_id = b.buyer_id and o.recipient_id = r.recipient_id and  o.recipient_id  = #{value}
</select>

<select id="selectOrderByRegiDate" parameterType="string" resultMap="resultMap-order-default">
<include refid="select-order-default"/>
where o.seller_id = s.seller_id and o.product_id = p.product_id and o.buyer_id = b.buyer_id and o.recipient_id = r.recipient_id and  o.regi_date  = #{value}
</select>


<resultMap type="order" id="resultMap-order-upgrade">
	<id column="oa" property="orderId"/>
	<result column="ob" property="productId"/>
	<result column="oc" property="buyerId"/>
	<result column="oh" property="sellerId"/>
	<result column="og" property="recipientId"/>
	<result column="od" property="amount"/>
	<result column="oe" property="status"/>
	<result column="oi" property="regiDate"/>
	<association property="product" javaType="kr.co.taommall.product.vo.Product">
		<id column="pa" property="productId"/>
		<result column="pb" property="productName"/>
		<result column="pc" property="productPrice"/>
		<result column="pd" property="category"/>
		<result column="pe" property="productInfo"/>
		<result column="pf" property="imagePath"/>
		<result column="pg" property="regiDate"/>
		<result column="ph" property="expDate"/>
		<result column="pi" property="sellerId"/>
	</association>
	<association property="buyer" javaType="kr.co.taommall.account.vo.Buyer">
	<id column="ba" property="buyerId"/>	
	<result column="bb" property="password"/>
	<result column="bc" property="name"/>
	<result column="bd" property="email"/>
	<result column="be" property="phone"/>
	</association>
	<association property="seller" javaType="kr.co.taommall.account.vo.Seller" >
	<id column="sa" property="sellerId"/>	
	<result column="sb" property="password"/>
	<result column="sc" property="name"/>
	<result column="sd" property="gender"/>
	<result column="se" property="email"/>
	<result column="sf" property="phone"/>
	<result column="sg" property="auth"/>
	<result column="sh" property="admin"/>
	<result column="si" property="corporateNumber"/>
	</association>
	<association property="recipient" javaType="kr.co.taommall.recipient.vo.Recipient" >
	<id column="ra" property="recipientId"/>
	<result column="rb" property="name"/>
	<result column="rc" property="phone"/>
	<result column="rd" property="detail"/>
	</association>
</resultMap>


<select id="selectOrderByStatusPaging" parameterType="map" resultMap="resultMap-order-upgrade">
		select   oa,ob,oc,od,oe,og,oh,oi,
				 pa,pb,pc,pd,pe,pf,pg,ph,pi,
				 ba,bb,bc,bd,be,bf,
				 sa,sb,sc,sd,se,sf,sg,sh,si,sj,
				 ra,rb,rc,rd,re,rf
		from (
				select ceil(rownum/#{contentsPerPage}) page,  
				 oid oa,  opid ob,  obid oc,  oa od,  os oe, orid og, osid oh, ord oi,
				 pid pa ,pn pb, ppp pc, pc pd ,ppi pe, pip pf,  prd pg, ped ph,  psid pi,    
 				 bbid ba,  bp bb , bn bc,  ba bd,  bn be, bph bf,    
 				 ssid sa,  sp sb,  sn sc, sg sd,  sa se,  se sf,  sph sg,  sa sh,  sad si,  scn sj,    
 				 rrid ra,  rn rb,  ra rc,  rph rd,  rd re, rp rf
 				 
				from (
						select 	o.order_id oid , o.product_id opid, o.buyer_id obid, o.amount oa, o.status os, o.recipient_id orid, o.seller_id osid, o.regi_date ord,
							p.product_id pid,p.product_name pn, p.product_price ppp, p.category pc, p.product_info ppi,p.image_path pip, p.regi_date prd,p.exp_date ped, p.seller_id psid,
							b.buyer_id bbid, b.password bp, b.name bn, b.address ba, b.email be, b.phone bph,
							s.seller_id ssid, s.password sp, s.name sn, s.gender sg, s.address sa, s.email se, s.phone sph, s.auth sau, s.admin sad, s.corporate_number scn,
							r.recipient_id rrid, r.name rn, r.address ra, r.phone rph, r.detail rd,r.postcode rp
						from orders o,product p, buyer b, recipient r,seller s
						where o.seller_id = s.seller_id and o.product_id = p.product_id and o.buyer_id = b.buyer_id and o.recipient_id = r.recipient_id 
						<if test="status!=null">
							and o.status = #{status}
						</if>
						order by o.recipient_id desc
				) 
		) 
		where page = #{page}
</select>

<select id="selectOrderCount" parameterType="string" resultType="_int">
select count(*)
from orders
<where>
<if test="value != null">
status = #{value}
</if>
</where>
</select>

<select id="selectOrderListByStatus" resultType="order" resultMap="resultMap-order-default">
<include refid="select-order-default"/>
where o.seller_id = s.seller_id and o.product_id = p.product_id and o.buyer_id = b.buyer_id and o.recipient_id = r.recipient_id and o.seller_id = #{sellerId}
<if test="status !='모두보기'">
 and status = #{status}
</if>
order by o.recipient_id desc
</select>
</mapper>
