<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.taommall.product.dao">
	<sql id="product-select">
		select product_id,product_name,product_price,category,product_info,image_path,info_image_path,regi_date,exp_date,seller_id,volume_order
		from product
	</sql>
	
	<insert id="insertProduct" parameterType="Product">
		<selectKey resultType="int" keyProperty="productId" order="BEFORE">
			select c_product_id.nextval from dual
		</selectKey>
		insert into product 
		(product_id,product_name,product_price,category,product_info,image_path,info_image_path,regi_date,exp_date,seller_id,volume_order)
		values (#{productId}, #{productName}, #{productPrice}, #{category}, #{productInfo}, #{imagePath},#{infoImagePath} ,to_char(sysdate, 'yyyy-mm-dd'),#{expDate}, #{sellerId},0)
	</insert>
	
	<update id="updateProduct" parameterType="Product">
		update product 
		<set>
			<if test="productName !=null">
				product_name=#{productName},
			</if>
			<if test="productPrice !=null">
				product_price=#{productPrice},
			</if>
			<if test="category !=null">
				category=#{category},
			</if>
			<if test="productInfo !=null">
				product_info=#{productInfo},
			</if>
			<if test="imagePath !=null">
				image_path=#{imagePath},
			</if>
			<if test="infoImagePath !=null">
				info_image_path=#{infoImagePath},
			</if>
			<if test="expDate !=null">
				exp_date=#{expDate}
			</if>
		</set>
		where product_id=#{productId}
	</update>
		
	<update id="updateProductVolumeOrder" parameterType="org.springframework.ui.Model">
		update product set volume_order= (select volume_order from product where product_id=#{productId})+#{amount} where product_id=#{productId}
	</update>
	
	<delete id="deleteProduct" parameterType="int">
		delete from product where product_id=#{productId}
	</delete>
	
	<resultMap type="Product" id="product-resultMap">
		<id column="product_id" property="productId"/>
		<result column="product_name" property="productName"/>
		<result column="product_price" property="productPrice"/>
		<result column="category" property="category"/>
		<result column="product_info" property="productInfo"/>
		<result column="image_path" property="imagePath"/>
		<result column="info_image_path" property="infoImagePath"/>
		<result column="regi_date" property="regiDate"/>
		<result column="exp_date" property="expDate"/>
		<result column="seller_id" property="sellerId"/>
		<result column="volume_order" property="volumeOrder"/>
	</resultMap>
	
	
	<select id="selectProductByIdNoPaging" parameterType="int" resultMap="product-resultMap">
		<include refid="product-select"/>
		where product_id=#{productId}

	</select>

	<select id="selectProductBySellerIdNoPaging" parameterType="String" resultMap="product-resultMap">
		<include refid="product-select"/>
		where seller_id=#{sellerId}
		order by product_id desc
	</select>	
	
	<select id="selectAllProduct" parameterType="org.springframework.ui.Model" resultMap="product-resultMap">
		select product_id,product_name,product_price,category,product_info,image_path,regi_date,exp_date,seller_id,volume_order
		from (
			select ceil(rownum/#{contentsPerPage}) page, product_id,product_name,product_price,category,product_info,image_path,regi_date,exp_date,seller_id,volume_order
			from (
				<include refid="product-select"/>
				order by exp_date asc
			)
		) 
		where page = #{pageNo}
	</select>
	
	<select id="selectProductById" resultMap="product-resultMap" parameterType="org.springframework.ui.Model">
		select product_id,product_name,product_price,category,product_info,image_path,regi_date,exp_date,seller_id,volume_order
		from (
			select ceil(rownum/#{contentsPerPage}) page, product_id,product_name,product_price,category,product_info,image_path,regi_date,exp_date,seller_id,volume_order
			from (
				<include refid="product-select"/>
				where product_id=#{productId}
				order by exp_date asc
			)
		) 
		where page = #{pageNo}
	</select>
	
	<select id="selectProductlIKEName" resultMap="product-resultMap" parameterType="org.springframework.ui.Model">
		select product_id,product_name,product_price,category,product_info,image_path,regi_date,exp_date,seller_id,volume_order
		from (
			select ceil(rownum/#{contentsPerPage}) page, product_id,product_name,product_price,category,product_info,image_path,regi_date,exp_date,seller_id,volume_order
			from (
				<include refid="product-select"/>
				where product_name like '%'||#{productName}||'%'
				order by exp_date asc
			)
		) 
		where page = #{pageNo}
	</select>
	
	<select id="selectProductByCategory" resultMap="product-resultMap" parameterType="org.springframework.ui.Model">
		select product_id,product_name,product_price,category,product_info,image_path,regi_date,exp_date,seller_id,volume_order
		from (
			select ceil(rownum/#{contentsPerPage}) page, product_id,product_name,product_price,category,product_info,image_path,regi_date,exp_date,seller_id,volume_order
			from (
				<include refid="product-select"/>
				where category=#{category}
				order by exp_date asc
			)
		) 
		where page = #{pageNo}
	</select>
	
	<select id="selectProductByexpDate" resultMap="product-resultMap" parameterType="org.springframework.ui.Model">
		select product_id,product_name,product_price,category,product_info,image_path,regi_date,exp_date,seller_id,volume_order
		from (
			select ceil(rownum/#{contentsPerPage}) page, product_id,product_name,product_price,category,product_info,image_path,regi_date,exp_date,seller_id,volume_order
			from (
				<include refid="product-select"/>
				where expDate=#{expDate}
				order by exp_date asc
			)
		) 
		where page = #{pageNo}
	</select>
	
	<select id="selectProductBySellerId" resultMap="product-resultMap" parameterType="org.springframework.ui.Model">
		select product_id,product_name,product_price,category,product_info,image_path,regi_date,exp_date,seller_id,volume_order
		from (
			select ceil(rownum/#{contentsPerPage}) page, product_id,product_name,product_price,category,product_info,image_path,regi_date,exp_date,seller_id,volume_order
			from (
				<include refid="product-select"/>
				where seller_id=#{sellerId}
				order by exp_date asc
			)
		) 
		where page = #{pageNo}
	</select>
	
	<select id="selectProductBetweenPrice" resultMap="product-resultMap" parameterType="org.springframework.ui.Model">
		select product_id,product_name,product_price,category,product_info,image_path,regi_date,exp_date,seller_id,volume_order
		from (
			select ceil(rownum/#{contentsPerPage}) page, product_id,product_name,product_price,category,product_info,image_path,regi_date,exp_date,seller_id,volume_order
			from (
				<include refid="product-select"/>
				where between price #{min} and #{max}
				order by exp_date asc
			)
		) 
		where page = #{pageNo}
	</select>
	<select id="selectProductMinPrice" resultMap="product-resultMap" parameterType="org.springframework.ui.Model">
		select product_id,product_name,product_price,category,product_info,image_path,regi_date,exp_date,seller_id,volume_order
		from (
			select ceil(rownum/#{contentsPerPage}) page, product_id,product_name,product_price,category,product_info,image_path,regi_date,exp_date,seller_id,volume_order
			from (
				<include refid="product-select"/>
				where price &gt;= #{price}
				order by exp_date asc
			)
		) 
		where page = #{pageNo}
	</select>
	<select id="selectProductMaxPrice" resultMap="product-resultMap" parameterType="org.springframework.ui.Model">
		select product_id,product_name,product_price,category,product_info,image_path,regi_date,exp_date,seller_id,volume_order
		from (
			select ceil(rownum/#{contentsPerPage}) page, product_id,product_name,product_price,category,product_info,image_path,regi_date,exp_date,seller_id,volume_order
			from (
				<include refid="product-select"/>
				where price &lt;= #{price}
				order by exp_date asc
			)
		) 
		where page = #{pageNo}
	</select>
	
	<select id="selectProductCount" resultType="_int">
		select count(*)from product
	</select>
	
	<select id="selectProductCountByCategory" resultType="_int" parameterType="String">
		select count(*)from product where category=#{category}
	</select>
	
	<select id="selectProductCountlIKEName" resultType="_int" parameterType="String">
		select count(*)from product where product_name like '%'||#{productName}||'%'
	</select>
	
	<select id="selectProductToRandom" resultMap="product-resultMap" parameterType="int">
		select product_id,product_name,product_price,category,product_info,image_path,regi_date,exp_date,seller_id,volume_order from (
			select product_id,product_name,product_price,category,product_info,image_path,regi_date,exp_date,seller_id,volume_order from product
			order by DBMS_RANDOM.VALUE
			)
		where <![CDATA[(rownum <= #{num})]]>
	</select>
	
</mapper>
