<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.taommall.recipient.dao">

<sql id="select-recipient-default" >
	select 	recipient_id, name, address, phone, detail,postcode,context,result
	from recipient 
</sql>

<!-- DefaultOrderResultMap -->
<resultMap type="recipient" id="resultMap-recipient-default">
	<id column="recipient_id" property="recipientId"/>
	<result column="name" property="name"/>
	<result column="phone" property="phone"/>
	<result column="detail" property="detail"/>
	<result column="context" property="context"/>
	<result column="result" property="result"/>
	<association  property="address" javaType="kr.co.taommall.account.vo.Address" resultMap="account.dao.buyer.address-default"/>
</resultMap>

<!-- insert -->
<insert id="insertRecipient" parameterType="recipient">
<selectKey keyProperty="recipientId" order="BEFORE" resultType="_int">select recipient_no_seq.nextval from dual</selectKey>
   insert into recipient values(#{recipientId},#{name},#{address.addressDetails},#{phone},#{detail},#{address.postcode},#{context},#{result})
</insert>

<!-- update -->
<update id="updateRecipientById" parameterType="recipient">
	update recipient
	<set>`
		<if test="name != null">
		name=#{name} ,
		</if>
		<if test="address.addressDetails != null" >
		address=#{address.addressDetails} ,
		</if>
		<if test="address.postcode != null" >
		postcode=#{address.postcode} ,
		</if>
		<if test="status != null">
		status=#{status} ,
		</if>
		<if test="detail != null">
		detail=#{detail},
		</if>
		<if test="context != null">
		context=#{context} ,
		</if>
		<if test="result != null">
		result=#{result}
		</if>
	</set>
	where recipient_id=#{recipient}
</update>

<!-- delete -->
<delete id="deleteRecipientById" parameterType="_int">
	delete from recipient
	where recipient_id = #{value}
</delete>

<!-- select -->
<select id="selectRecipientById" parameterType="_int" resultMap="resultMap-recipient-default">
<include refid="select-recipient-default"/>
	where recipient_id = #{value}
</select>

</mapper>
